{% extends 'basetemplate.html'%}
{% load static%}

{%block contenido%}


{% for post in post_noticias %}
    <div class="p-4 p-md-8  col-md-12">
        <div class="row g-0 border rounded flex-md-row mb-9 shadow-sm h-md-250 position-relative h-100">
            <div class="col p-md-8 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Noticias</strong>
                <h3 class="mb-0">{{post.titulo}}</h3>
                <div class="mb-1 text-muted">{{ post.fecha }}</div>
                <p class="mb-auto">{{ post.contenido |safe }}</p>
                <a class="btn btn-success btn-sm mb-10 mx-auto w-75" 
                    href="{% url 'noticias:detallenoticias' post.id %}">Ir a Comentarios <span class="badge badge-light"></span></a>
            </div>
        
            <div class="col-3 d-none d-lg-block">
                <img src="{{ post.imagen.url }}" class="card-img-top" max-width="200px" height="250px" style="border-radius: 15px; padding-top: 0px;">    
            </div>
        </div>
    </div>
{%endfor%}




{%endblock contenido%}
