{% extends 'basetemplate.html' %}

{% block contenido %}
			<!-- <form method="POST" class="container" style=" width: 60vw;   height: 80vh;margin-top: 40px;">{%csrf_token%}
				{{form.errors}}
				<label class="form-label mt-5" for="username">Usuario:</label>
				<input class="form-control" type="text" name="username" placeholder="USUARIO">
				<label class="form-label mt-5" for="password">Contraseña:</label>
				<input class="form-control"type="password" name="password" placeholder="PASSWORD">

				<input class="btn btn-primary my-3" type="submit" name="" value="ENVIAR">
			</form> -->

		<div class="login">
			<div class="wrapper">
				<form method="POST">{%csrf_token%}
				{{form.errors}}
				<h1>Login</h1>
				<div class="input-box">
					<input type="pass" placeholder="Username" required>
					<box-icon type='solid' name='user'></box-icon>
				</div>
				<div class="input-box">
					<input type="password" placeholder="Password" required>
					<box-icon type='solid' name='user'></box-icon>
				</div>

				<div class="remember-forgot">
					<label><input type="checkbox">Remember me</label>
					<a href="#">Forgot password?</a>
				</div>

				<button type="sumbit" class="btn">Login</button>

				<div class="register-link" >
					<p>Don't have an account? <a href="{% url 'usuarios:registro' %}">Register</a></p>
				</div>
			</form>
		</div>
	</div>	
{% endblock %}
