#detalle-noticia {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#detalle-noticia .contenedor {
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    color: aliceblue;
    height: 80vh;
    width: 60%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

#detalle-noticia .contenedor .imagen,
#detalle-noticia .contenedor .text {
    width: 100%;
    height: 50%;
}

.contenedor .imagen {
    width: 100%;
    height: 100%;
}

.contenedor .imagen img {
    width: 100%;
    height: 100%;
}

.contenedor .texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 100%;
}

.texto h3 {
    font-size: 3rem;
}

.texto p {
    font-size: 1rem;
}

.contenedor .texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.contenedor .texto .contenido {
    width: 100%;
    height: 1000px;
    overflow: auto;
}

#form-comentarios {
    height: 400px;
    color: white;
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-comentarios form {
    display: flex;
    padding: 50px;
    width: 50%;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rgba(255, 255, 255, .2);

}
#form-comentarios form h3 {
    font-size: 2rem;
}

#form-comentarios form input[type=submit] {
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    border: none;
    background-color: white;
    align-self: flex-end;
    transition: all 300ms;
}
#form-comentarios form textarea {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
}

#form-comentarios form input[type=submit]:hover {
    background-color:rgb(182, 109, 249);
    color: white;
    cursor: pointer;
}

#form-comentarios form div {
    display: flex;
    flex-direction: column;
}

#comentarios {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    min-height: 400px;
}

#comentarios blockquote {
    width: 80%;
    text-align: left;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    padding: 25px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}