* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-image: url(static\img\BG.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 100px;
    margin-top: 10px;
    cursor: pointer;
  }
  .items {
    display: flex;
    align-items: center;
  }
  .items ul {
    color: #fff;
    display: flex;
    list-style: none;
    margin-right: 100px;
  }
  .items ul li {
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .items ul li:hover {
    color: rgb(177, 68, 119);
    font-weight: 600;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    width: 60vw;
    height: 86vh;
    backdrop-filter: blur(8px);
    border-right: 1px solid grey;
  }
  .top {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  .top h1 {
    font-size: 56px;
  }
  .top h1 span {
    background: linear-gradient(to right, yellow, rgb(177, 68, 119), rgb(49, 17, 107));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .top p {
    margin-top: 30px;
    letter-spacing: 2px;
  }
  .centre {
    margin-left: 100px;
  }
  .centre button {
    padding: 10px 20px;
    color: #fff;
    font-size: 22px;
    background: linear-gradient(to right, yellow, rgb(177, 68, 119), rgb(49, 17, 107));
    outline: none;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .centre button:hover {
    background: transparent;
    border: 2px solid rgb(177, 68, 119);
  }
  .down {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
  }
  .d-1 h1 {
    margin-bottom: 7px;
  }
  .d-1 h3 {
    font-weight: 300;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
  }
  .scroll {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 100px;
  }
  .scroll img {
    width: 80px;
    cursor: pointer;
  }
  .scroll h2 {
    font-weight: 300;
    color: linear-gradient(to right, yellow, rgb(177, 68, 119), rgb(49, 17, 107));
  }