# Config Django
SECRET_KEY = 'your key'
DEBUG = 'your state'
ALLOWED_HOSTS = 'host you want to allow'

# Config data base
DB_NAME = 'your DB name'
DB_USER = 'your username'
DB_PASSWORD = 'your password'
DB_HOST = 'your host'
DB_PORT = 'your port'

# Config Email
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = blognoticiasroboticas@gmail.com
EMAIL_HOST_PASSWORD = mpawmn111qbyuoiq
DEFAULT_FROM_EMAIL = blognoticiasroboticas@gmail.com