{% extends 'basetemplate.html'%}
{% load static%}

{%block contenido%}
<div class= "contenedor "> 
    <h2 class="tituloquienes "> Quienes somos  </h2>
        <p class="txtoquienes"> La Fundación Amigos del Arte y Turismo, con Personería Jurídica Nº452/14 es una Entidad no lucrativa, con el fin de vincular las expresiones culturales de la región, la idiosincrasia de la gente y el turismo a través del ARTE.
            Nuestra meta es promover el Arte y el Turismo, rescatando, revalorizando e incluyendo todas las manifestaciones artísticas y culturales, en salvaguarda de nuestra identidad, y en defensa del medio ambiente.
        </p>  

    <h5 class="tituloquienes "> Nuestros inicios</h5>

    <p class="txtoquienes"> La Fundación tiene su origen en la Inauguración del Hotel Portal del Impenetrable el 29 de septiembre de 2012, 
        acontecimiento en el que se reunieron el Dr. Alfredo Lázara Valdéz (propietario del hotel), el Dr Oscar Alberto Nievas (Intendente de Castelli) y Fabriciano Gómez 
        (presidente de la Fundación Urunday y autor de la obra “El Portal del Impenetrable”). En ese acto Fabriciano propone la idea de organizar un encuentro de escultores 
        en la Plaza San Martín, en junio de 2013.
        El 1º de marzo de 2015 quedó formalmente constituida la Fundación Amigos del Arte y Turismo.
    </p>

    <h5 class="tituloquienes ">Recuperación de nuestro Patrimonio Histórico</h5>

        <p class="txtoquienes">En febrero de 2015, la Municipalidad de Juan José Castelli nos cedió en comodato el antiguo edificio de la primera escuela primaria de la ciudad, la Escuela Nacional Nº 255. A partir de ese momento comenzamos a elaborar el proyecto de recuperación del mismo. 
            Luego del Encuentro de 2015, comenzaron las obras de la primera etapa, con la colaboración del Municipio con los materiales, y la Fundación aportó la mano de obra.
            El 7 de julio de 2016 se inauguró la 1º etapa de la obra, tres aulas y un sanitario. El edificio ahora funciona como sede de nuestra Fundación.
        </p>


    <h5 class="tituloquienes "> Nuestos objetivos </h5>
        <p class="txtoquienes"> Velar por nuestro rico patrimonio cultural y dar a conocer a todos los que nos visiten las diferentes expresiones de nuestra identidad.
            Estimular y divulgar el arte y el turismo y fomentarlos como fuente de superación de las personas de nuestra comunidad y darlo a conocer.
        </p>

    <table>
        <tr>
            <th><h5 class="tituloquienes "> Primera Comisión directiva</h5></th>
            <th><h5 class="tituloquienes"> Comisión directiva actual </h5></th>
        </tr> 

        <tr>
            <th>Presidente: Dr. Alfredo Lázara Valdéz;</th>
            <th>Presidente: DG. Rene Bertolucci</th>
        </tr>   

        <tr>
            <th>Vicepresidente: DG René Bertolucci;</th>
            <th>Vicepresidente: Arq. Yolanda M. Rausch </th>
        </tr> 

        <tr>
            <th>Secretaria: Prof. Elena Díaz de Lázara;</th>
            <th>Secretaria: Prof. Marisa Santamaría </th>
        </tr>

        <tr>
            <th>Tesorera: Arq. Yolanda M. Rausch;</th>
            <th>Tesorera: Prof. Elena Díaz de Lázara</th>
        </tr>

        <tr>
            <th>Vocal: Dr. Jorge Kleisinger.</th>
            <th>Vocal: Dr. Jorge Kleisinger</th>
        </tr>
    
    </table>

    <hr>
    
    <h5 class="tituloquienes "> Donde estamos..  </h5>

            <p class="txtoquienes "> Geográficamente ubicados en el Departamento General Güemes de la provincia del Chaco, en la Puerta del Impenetrable, con una comunidad integrada por pueblos originarios de distintas etnias, criollos y descendientes de inmigrantes de distintos países de Europa.
                Nos reconocemos como parte de “El Impenetrable”, su cultura y su gente. Por eso, buscamos dar a conocer nuestra región, su riqueza, sus leyendas, su arte y su poesía, que invitan a recorrer lugares como la FIDELIDAD, MISIÓN NUEVA POMPEYA, LA CANGAYÉ, LAS RUINAS DEL Km 71 que nos hablan de nuestra historia y nuestra gente.
            </p>

    <hr>

        <h5 class="tituloquienes ">Reseña de encuentros anteriores</h5>
    <ul >
        <li>2013: Encuentro de Escultores del Impenetrable: “Especies en Extinción” – 17 al 22 de junio. Material: madera de palo santo.</li>
        <li>2014: Encuentro de Escultores del Impenetrable: “Guardianes del Monte” – 27 de octubre al 1 de noviembre. Material: cerámica.</li>
        <li>2015: Encuentro de Escultores en el Impenetrable:” Mitos y Leyendas”4 al 11 de junio. Material: Madera de Palo Santo.</li>
        <li>2016: Encuentro Internacional de Escultores en el Impenetrable: “Sonidos del Monte” del 26 al 31 de julio. Material: Mármol, acero y Palo Santo.</li> 
        <li>2017: Encuentro de escultores en el Impenetrable : “El origen” – 10 al 15 de julio. Material: madera de Palo Santo.</li>
        <li>2018: Encuentro Internacional de Escultores en el Impenetrable 2018: “Fuerza Natural” del 24 al 28 de julio. Material: Mármol, acero y Palo Santo.</li>
        <li>2019: Encuentro de Escultores en el Impenetrable: “Instinto” del 25 al 30 de junio. Material: Palo Santo</li>
    </ul>     

    <div id="mapa" class=" text-center"> 
        <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62605.23004638477!2d-60.67147547462913!3d-25.932644289547635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94404cfba5224f0b%3A0xbe1797f5f1777f83!2sFundaci%C3%B3n%20Amigos%20del%20Arte%20y%20Turismo!5e0!3m2!1ses!2sar!4v1670348839349!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

        
</div>
        




{%endblock contenido%}