{% extends 'basetemplate.html'%}
{% load static%}

{%block contenido%}
<section id="about">
    <blockquote class="titulo-principal">
        <p>About us</p>
        <h1>Bienvenidos a NP, tu destino definitivo para explorar el fascinante mundo de la tecnología y los componentes
            de
            PC.</h1>
    </blockquote>

    <blockquote>
        <h3>Nuestra Inspiración Inicial:</h3>
        <p>El origen de NP se remonta a un momento de fascinación y curiosidad. Fascinación por las maravillas
            de
            la tecnología y curiosidad por descubrir cómo cada componente trabaja en conjunto para crear experiencias
            digitales excepcionales. Esta inquietud nos llevó a embarcarnos en un viaje de aprendizaje y exploración, y
            decidimos compartir nuestro conocimiento y descubrimientos a través de esta plataforma.
        </p>
    </blockquote>

    <blockquote>
        <h3>Nuestros Objetivos:</h3>
        <p> En NP, nos comprometemos a brindarte información precisa, análisis profundos y guías prácticas que
            te
            ayudarán a tomar decisiones informadas en el emocionante mundo de la tecnología y los componentes de PC.
            Nuestro
            objetivo principal es ser tu compañero confiable en cada paso de tu viaje tecnológico, ya sea que estés
            construyendo tu propia PC desde cero, buscando consejos para mejorar el rendimiento o simplemente deseando
            mantenerte al día con las últimas tendencias.
        </p>
    </blockquote>

    <blockquote>
        <h3>Nuestras Expectativas de Crecimiento:</h3>
        <p>
            Mirando hacia el futuro, nuestras expectativas son claras: aspiramos a convertirnos en una comunidad
            vibrante y
            dinámica en la que los entusiastas de la tecnología puedan conectarse, compartir ideas y aprender juntos.
            Estamos comprometidos a expandir nuestro alcance, presentando contenido más diverso y emocionante,
            colaborando
            con expertos en la industria y manteniendo un diálogo constante con nuestra valiosa audiencia.
        </p>
    </blockquote>

    <blockquote>
        En NP, estamos emocionados por lo que está por venir. Únete a nosotros en este emocionante viaje
        mientras exploramos los avances tecnológicos, desglosamos los componentes más recientes y brindamos información
        que te empoderará en tu búsqueda de dominar el mundo de la informática.

        ¡Gracias por ser parte de nuestra comunidad!
    </blockquote>

</section>
{%endblock contenido%}